{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} favicon {% endcomment %}
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/vecteezy_tasks-vector-icon-design_21005811.svg' %}"
  >
  <title>Todo</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img class="logo-image" 
          src="{% static "images/vecteezy_checklist-vector-icon-design_21237217.svg" %}"
          alt="a list image"
        >
        
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'task-index' %}">All task</a></li>
          <li><a href="{% url 'task-create' %}">Add a Task</a></li>
          <li><a href="{% url 'todo-task' %}">To-Do Task</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'todo-task' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>